.listingshow__desc-container {
  width: 100%;
  display: flex;
  padding: 5rem 0;
}
.listingshow__desc-content-wrapper {}
.listingshow__desc-flair {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.listingshow__desc-flairitem {
  margin-bottom: 1.6rem;
  font-weight: 500;
  color: #484848;
  margin-right: 1.2rem;
}
.listingshow__desc-content {}
.listingshow__desc-content {}
.listingshow__desc-host-img {}
.listingshow__desc-host-review-outer {}

.listingshow__desc-host-review-text {}
.listingshow__desc-host-review-author {}