.listingshow__photos-container {
  width: 100%;
}

.listingshow__photos-header {
  font-size: 2.2rem;
  font-weight: 700;
  color: #484848;
  margin-top: 3.4rem !important;
  margin-bottom: 2.4rem;
}

.listingshow__photos-grid-outer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.listingshow__photo-single {
  width: 100%;
}