// Modal Background + wrapper
.modal__background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal__child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// Profile dropdown modal
.modal__background--profile {
  background: transparent;
}

.modal__child--profile {
  position: absolute;
  top: 80px;
  right: 6px;
  left: initial;
  transform: initial;
  background-color: white;
  width: 280px;
  box-shadow: 0px 3px 4px rgba(0,0,0, 0.2) !important;
}



// Modal divider

.modal__divider-container {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  position: relative;
  height: 0;
}

.modal__divider-content {
  text-align: center;
  background-color: #fff;
  position: relative;
  top: -0.1rem;
  display: inline-block;
  left: 50%;
  padding: 0.8rem 1rem;
  transform: translate(-50%, -50%);
  color: rgb(118, 118, 118) !important;
}

// Modal form
.modal__header {
  margin-bottom: 0 !important;
}

.modal__form-container {
  background-color: #fff;
  padding: 2rem;
  width: 500px;
  position: relative;
}
.modal__form {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.modal__input-text {
  padding: 0.9rem !important;
  font-size: 1.2rem !important;
  margin-bottom: 1.2rem !important;
  font-weight: 300;
}

// .modal__input-text--username::after {
//   background-image: url("assets/icons/form/01-input-envelope.png");
// }

// .modal__input-text--password::after {
//   background-image: url("assets/icons/form/01-input-padlock.png");
// }

// Modal errors
.modal__errors-container {}
.modal__errors-single {
  margin-bottom: 0;
}

// Modal buttons
.modal__btn#modal__btn-submit-id {
  background-color: #FF5A5F !important;
  padding: 1rem;
  width: 100%;
  color: #fff !important;
  font-size: 1.2rem;
  font-weight: 600;
}

.modal__btn#modal__btn-submit-id:active {
  background-color: rgb(223, 60, 71) !important;
}

a#modal__btn-submit-id.modal__btn--submit-demo {
  margin-top: 2rem !important;
  display: inline-block;
  text-align: center;
  background-color: #fff !important;
  color: #000 !important;
  border: 2px solid rgb(118, 118, 118);
  border-radius: 5px;
}

a#modal__btn-submit-id.modal__btn--submit-demo:active {
  background-color:  rgb(226, 226, 226) !important;
}


.modal__btn-close {
  display: inline-block;
  -webkit-text-stroke: 2.7px white;
  text-align: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
}

.modal__btn-close i {
  display: block;
  color: rgb(118, 118, 118);
  font-size: 1.8rem;
  position: relative;
  top: 5.2px;
}
.modal__btn--submit {}


// Other form section
.modal__other-form-container {
  padding-top: 1.5rem;
  display: flex;
  color: rgba(0,0,0,0.6);
}

.modal__account-msg {
  margin-right: 0.8rem;
  font-weight: 300;
  font-size: 1.1rem;
}

.modal__btn-other-form {
  color: rgb(0, 132, 137) !important;
  font-size: 1.1rem;
  font-weight: 400;
}


