.trips__inner-container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 80px;
}

.trips__inner-container .listingshow__footer-content {
  border-top: 1px solid rgba(0,0,0,.08);
}

.trips__header-container {
  margin-top: 6rem;
}

.trips__header {
  font-size: 32px;
  color: #484848;
  margin-bottom: 1.2rem;
}  

p.trips__header--text {
  font-size: 16px;
  font-weight: 300;
}

.trips__header-container {
  margin-bottom: 2rem;
}


// Trips Item

.trips__item {
  margin-bottom: 3.2rem;
}

.trips__item {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
}
.trips__item:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
}

.trips__item-content {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;  
  border-bottom: 1px solid transparent;
  background-color: rgba(0,0,0,.03);  
  color: #484848;  
}

.trips__item-header {
  margin-bottom: 0;
}

h4.trips__item-subheader {
  margin-bottom: 0.2rem;
  margin-top: 1.2rem;
}

span.trips__item-bullet {
  font-size: 0.5rem;
  margin: 0px 0.3rem;
}

.trips__item .listingindexitem__main {
  border-top: 1px solid transparent;
}

// .trips__item .listingindexitem__main:hover {
//   box-shadow: 0;
//   // box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
// }

.trips__item .listingindexitem__carousel-wrapper {
  border-radius: 3px;
  overflow: hidden;
  margin: -5px;
}

a.trips__item-btn-cancel {
  border: 1px solid rgb(145, 70, 105);
  padding: 0.8rem 1rem;
  display: inline-block;
  border-radius: 3px;
  background-color: #fff;
  color: rgb(145, 70, 105);
  transition: all 75ms ease-in;
}

a.trips__item-btn-cancel:hover {
  background-color: rgb(145, 70, 105);
  color: #fff;
}

a.trips__item-btn-cancel:active {
  background-color: rgb(119, 49, 82);
  color: #fff;
}
