.trips__inner-container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 80px;
}

.trips__inner-container .listingshow__footer-content {
  border-top: 1px solid rgba(0,0,0,.08);
}

.trips__header-container {
  margin-top: 6rem;
}

.trips__header {
  font-size: 32px;
  color: #484848;
  margin-bottom: 1.2rem;
}  

p.trips__header--text {
  font-size: 16px;
  font-weight: 300;
}

.trips__header-container {
  margin-bottom: 2rem;
}

