.listingindex__main {
  max-width: 840px;
  padding: 1.8rem;
  padding-top: 0;
  min-width: 840px;
  margin-bottom: 6rem;
}

.listingindex__header-container {
  margin: 3.6rem 0 1.6rem;
}
.listingindex__header {
  margin-bottom: 0.2rem;
}

.listingindex__header-sub {
  font-size: 16px;
  font-weight: 300;
}

.listingindex__header-sub a {
  color: rgb(0, 132, 137) !important;
  font-weight: 500;
  cursor: pointer;
}