#map-container {
  height: 500px;
  min-width: 350px;
  height: 100vh;
  flex: 1;

  position: sticky !important;
  right: 0;
  overflow: hidden;
  top: 0;
  bottom: 0;
}

.gm-style-mtc {
  display: none;
} 

.gm-svpc {
  display: none;
}

.gm-style-cc {
  display: none;
}

button.gm-control-active.gm-fullscreen-control {
  display: none;
}
