.header__container-outer {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) 15%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0)), url("../../assets/images/background/landing/01_airbnb-landing-main.jpg"); 
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
