.header__container-outer {
  background-image: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.3) 15%, 
    rgba(0, 0, 0, 0) 30%, 
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 85%,
    rgba(0, 0, 0, .7) 100%), url("../../assets/images/background/landing/01_airbnb-landing-main.jpg"); 
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
  background-position: center;
}

.header__desc-container {
  position: absolute;
  bottom: 1.8rem;
  right: 2.2rem;
}

.header__desc-content {
  color: #fff;
  text-align: right;
  line-height: 21px !important;
  font-size: 1rem;
}