.listingindex__main {
  max-width: 840px;
  padding: 1.8rem;
  padding-top: 0;
  min-width: 840px;
}

.listingindex__header-container {
  margin: 2.8rem 0 1.6rem;
}
.listingindex__header {
  margin-bottom: 0.2rem;
}

.listingindex__header-sub {
  font-size: 16px;
  font-weight: 300;
}