.pac-container {
  width: 460px !important;
  left: 5.8rem !important;
}

.pac-icon {
  color: #FF5A5F;
}

.pac-item {
  padding: 1rem;
  width: 100%;
}

.pac-item:hover {
  cursor: pointer;
}

.pac-item-selected {}

.pac-item-query {}

.pac-item {}
